<main>
    
    <div class="box">
        <div class="display">
        
        </div>
        <div>
            <div class="boxButton">
                <span class="button gray"> </span>
                <span class="button gray"> </span>
                <span class="button gray"> </span>
                <span class="button orange"> </span>
            </div>
            <div class="boxButton">
                <span class="button lightDark"> </span>
                <span class="button lightDark"> </span>
                <span class="button lightDark"> </span>
                <span class="button orange"> </span>
            </div>
            <div class="boxButton">
                <span class="button lightDark"> </span>
                <span class="button lightDark"> </span>
                <span class="button lightDark"> </span>
                <span class="button orange"> </span>
            </div>
            <div class="boxButton">
                <span class="button lightDark"> </span>
                <span class="button lightDark"> </span>
                <span class="button lightDark"> </span>
                <span class="button orange"> </span>
            </div>
            <div class="boxButton">
                <span class="zero-button lightDark"> </span>
                <span class="button lightDark"> </span>
                <span class="button orange"> </span>
            </div>
        </div>
      
    </div>
</main>

